<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>

    <title>woo-jin</title>

    <meta property="og:title" content="woo-jin"/>
    <meta property="og:description" content="ㅋㅋㅋ신기하다"
    /다
    <meta property="og:image" content="{{ url_for('static', filename='ogimage.jpeg') }}"/>
    <link href="https://fonts.googleapis.com/css2?family=Jua&display=swap" rel="stylesheet">

    <style>
        * {
            font-family: 'Jua', sans-serif;
        }

        .item-order {
            width: 500px;
            margin-bottom: 50px;
        }

        .btn-order {
            margin: auto;
            width: 100px;

            display: block;
        }

        .wrap {
            width: 500px;
            margin: auto;
        }

    </style>

    <script>
        function order() {
            let name = $('#order-name').val();
            let count = $('#order-count').val();
            let age = $('#order-age').val();
            let address = $('#order-address').val();
            let date = $('#order-date').val();
            let text = $('#order-text').val();

            $.ajax({
                type: "POST",
                url: "/order",
                data: {
                    name_give: name,
                    count_give: count,
                    age_give: age,
                    address_give: address,
                    date_give: date,
                    text_give: text
                },
                success: function (response) {
                    if (response["result"] == "success") {
                        alert(response["msg"]);
                        window.location.reload();
                    }
                }
            })
        }
    </script>
</head>

<body>
<div class="wrap">

    <div class="item-order">
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text">팀명</span>
            </div>
            <input id="order-name" type="text" class="form-control" aria-label="Default"
                   aria-describedby="inputGroup-sizing-default">
        </div>
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <label class="input-group-text" for="inputGroupSelect01">평균실력</label>
            </div>
            <select id="order-count" class="custom-select">
                <option selected>선택</option>
                <option value="상">상</option>
                <option value="중">중</option>
                <option value="하">하</option>
            </select>
        </div>
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <label class="input-group-text" for="inputGroupSelect01">평균연령</label>
            </div>
            <select id="order-age" class="custom-select">
                <option selected>선택</option>
                <option value="10">10</option>
                <option value="20">20</option>
                <option value="30">30</option>
                <option value="40">40</option>
                <option value="50">50</option>
                <option value="etc">etc</option>
            </select>
        </div>
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text">장소</span>
            </div>
            <input id="order-address" type="text" class="form-control" aria-label="Default"
                   aria-describedby="inputGroup-sizing-default">
        </div>
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text">시간</span>
            </div>
            <input id="order-date" type="text" class="form-control" aria-label="Default"
                   aria-describedby="inputGroup-sizing-default">
        </div>
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text">코멘트</span>
            </div>
            <textarea class="form-control" id="order-text" rows="3"></textarea>
        </div>
        <button type="button" onclick="order()" class="btn btn-primary btn-order">등록하기</button>
    </div>
    <table class="table">
        <thead>
        <tr>
            {{ soc[0]["count"] }}
        </tr>
        </thead>
        <tbody id="orders-box">
        </tbody>
    </table>

    {% for aaa in soc %}
    <div class="card" style="width: 28rem;">
        <div class="card-body">
            <h5 class="card-title">팀명 : {{ aaa["name"] }}</h5>
            <h6 class="card-subtitle mb-2 text-muted">평균실력 : {{ aaa["count"] }}</h6>
            <h6 class="card-subtitle mb-2 text-muted">평균연령 : {{ aaa["age"] }}</h6>
            <h6 class="card-subtitle mb-2 text-muted">장소 : {{ aaa["address"] }}</h6>
            <h6 class="card-subtitle mb-2 text-muted">시간 : {{ aaa["date"] }}</h6>
            <h6 class="card-subtitle mb-2 text-muted">코멘트 : {{ aaa["text"] }}</h6>
        </div>
        <div id="form-commentInfo">
            <div id="comment-count">댓글 <span id="count">0</span></div>
            <input id="comment-input" placeholder="댓글을 입력해 주세요.">
            <button id="submit">등록</button>
        </div>

    </div>
    <br>
    {% endfor %}
</body>

</html>